@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --color-primary: #49aa26;
    --color-primary-dark: #2d4a22;
    --color-secondary: #e92929;
    --color-background: #f0f2f5;
    --color-background-secondary: #ffffff;
    --color-background-secondary-to: #ffffffb7;
    --color-text-in-title: #363f5f;
    --color-text: #969cb2;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-background);
    height: 100vh;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif, monospace;
}

